.habits {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 30px;
}

.habit-header {
  font-size: smaller;
  margin-bottom: 10px;
  text-align: left;
}

.habit-card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  padding-inline: 18px;
  padding-block: 18px;
  gap: 30px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    text-align: left;
    height: 100%;
  }

  .title {
    font-size: 15pt;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
  }

  .streak {
    font-size: 11pt;
  }

  strong {
    color: #12335c;
  }

  .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    width: 60%;
  }

  .check {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    align-content: center;
    color: rgb(230, 230, 230);
    background-color: white;
    border-radius: 50%;
  }

  .check.done {
    background-color: #496d99;
  }

  svg {
    height: 28px;
    width: 28px;
  }
}

.mini-square {
  aspect-ratio: 1;
  border-radius: 2px;;
}

.mini-square[data-level="0"] {
  background-color: white;
}

.mini-square[data-level="1"] {
  background-color: #496d99;
}
