
nav {
  background-color: #d4d4d4;
  color: #111111;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--navbar-height);
  width: 100vw;
  padding-bottom: 10px;

  & a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: #929292;
    text-decoration: none;
    height: 100%;
    width: 100%;
    position: relative;
  }

  & a:active {
    color: #3d3d3d;
  }

  .active {
    color: #3d3d3d
  }

  & svg {
    height: 28px;
    width: 28px;
    stroke-width: 1.6px;
  }

  & div {
    font-size: small;
    font-weight: 400;
  }
}

.notification {
  position: absolute;
  top: 10%;
  right: 30%;
  background-color: red;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
