form *  {
  max-width: 28rem;
  padding: 20px 0px;
}

input, select, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
}

form button, input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  background: rgb(228, 228, 228);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover, input[type="submit"]:hover {
  background: #919191;
}

.field_with_errors {
  display: inline;
}
