.goals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.goal {
  background-color: papayawhip;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unlocked {
  background-color: brown;
}
