.goals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.goal {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: medium;
  padding: 10px;
  border-radius: 10px;
}

.hidden {
  background-color: grey;
}

.locked {
  color: #adaaaa;
  background-color: #eaeaea;
}

.streak {
  background: linear-gradient(#74e9dc 10%, #60ddcf 20%, #59eb8f 100%)
}
