#timer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  min-height: calc(100vh - var(--navbar-height) - 2* var(--main-padding));

  #time {
    font-size: 100pt;
    margin-bottom: 30px;
    align-content: center;
    font-family: var(--font-secondary);
  }

  .inactive {
    color: grey;
  }

  #controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;

  }

  & div {
    margin: 0;
  }

  & div:last-child {
    grid-column: span 2;
  }
}
